Orchestrateur.json
[{"id":"75202a1c.eb4b54","type":"tab","label":"Flow Android","disabled":false,"info":""},{"id":"4d4c2c8d.995914","type":"tab","label":"Flow Raspberry","disabled":false,"info":""},{"id":"9f264f93.6950c","type":"mqtt-broker","z":"","name":"","broker":"172.20.10.7","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"39e4040f.9d32ac","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"262dfb33.aa2be4","type":"mqtt-broker","z":"","name":"","broker":"tcp://test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f3313ca7.71b71","type":"mqtt-broker","z":"","name":"","broker":"tcp://test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ac836cf9.b3cdd","type":"mqtt-broker","z":"","name":"","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1233b1.bd7e8c4f","type":"mqtt-broker","z":"","name":"","broker":"http://172.20.10.7","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dbd634e9.802978","type":"mqtt-broker","z":"","name":"","broker":"http://test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8621eef2.7acdb","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"bbd8e471.ad2928","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d9903358.f83ae","type":"ui_group","z":"","name":"Default","tab":"bbd8e471.ad2928","disp":true,"width":"6","collapse":false},{"id":"7e614a38.d4f6b4","type":"mqtt-broker","z":"","name":"","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"73876ba9.78fae4","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"773638f6.2908d8","type":"mqtt-broker","z":"","name":"","broker":"172.20.10.7","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9720f212.139c6","type":"mqtt-broker","z":"","name":"","broker":"172.20.10.6","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9ac41304.29925","type":"mqtt-broker","z":"","name":"","broker":"172.20.10.14","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"500f0eaa.2cb05","type":"mqtt in","z":"75202a1c.eb4b54","name":"","topic":"androidCurrentTicketRequest","qos":"2","datatype":"auto","broker":"9ac41304.29925","x":137.09999084472656,"y":243.00000196881592,"wires":[["61e543f8.8b087c","e7f393.5b332c7"]]},{"id":"b3e17129.fcc88","type":"mqtt out","z":"75202a1c.eb4b54","name":"androidTestCurrentTicketRequestEmitter","topic":"androidCurrentTicketRequest","qos":"","retain":"","broker":"9720f212.139c6","x":398.10001373291016,"y":149.000009059906,"wires":[]},{"id":"1cd47dff.5812c2","type":"inject","z":"75202a1c.eb4b54","name":"Test","topic":"","payload":"{\"queue\": 1, \"loggin\": \"romain\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99.10000610351562,"y":149.00000953674316,"wires":[["b3e17129.fcc88"]]},{"id":"323fa13a.e3b53e","type":"debug","z":"75202a1c.eb4b54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630.100040435791,"y":405.00000190734863,"wires":[]},{"id":"a82cd90d.e5f888","type":"http request","z":"75202a1c.eb4b54","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://yursilv.alwaysdata.net/api/queues/{{{payload.queue}}}/currentTicket","tls":"","proxy":"","authType":"basic","x":635.1000442504883,"y":323.60007095336914,"wires":[["323fa13a.e3b53e","8166d113.044db"]]},{"id":"61e543f8.8b087c","type":"debug","z":"75202a1c.eb4b54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":165.99999618530273,"y":359.99999618530273,"wires":[]},{"id":"e7f393.5b332c7","type":"json","z":"75202a1c.eb4b54","name":"","property":"payload","action":"","pretty":false,"x":399.10001373291016,"y":247.20000648498535,"wires":[["8c3fcd4.7a3463","a82cd90d.e5f888","8166d113.044db"]]},{"id":"8c3fcd4.7a3463","type":"debug","z":"75202a1c.eb4b54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":395,"y":321.0000009536743,"wires":[]},{"id":"30b155f0.b1cc4a","type":"function","z":"75202a1c.eb4b54","name":"MakeResult","func":"msg.payload = msg.payload[0].queue + ',' + msg.payload[1].userLogin\nreturn msg;","outputs":1,"noerr":0,"x":1122.3887252807617,"y":246.33333587646484,"wires":[["6e225e31.fdafa","c05cfb47.9ae3c8"]]},{"id":"6e225e31.fdafa","type":"debug","z":"75202a1c.eb4b54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1120.2221717834473,"y":312.0000009536743,"wires":[]},{"id":"c05cfb47.9ae3c8","type":"mqtt out","z":"75202a1c.eb4b54","name":"","topic":"androidCurrentTicketResponse","qos":"","retain":"","broker":"9ac41304.29925","x":1485.1666717529297,"y":242.55558395385742,"wires":[]},{"id":"39c0febb.adcc92","type":"mqtt in","z":"75202a1c.eb4b54","name":"","topic":"androidNextTicketRequest","qos":"2","datatype":"auto","broker":"9720f212.139c6","x":131.16666412353516,"y":674.7777738571167,"wires":[["b5163a84.1b06b8","105414ec.a192cb","58e0a731.136e98","dea465f5.b178f8"]]},{"id":"670e8f3d.bedd7","type":"inject","z":"75202a1c.eb4b54","name":"Test","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":607.3333129882812,"wires":[["93f0c19a.e94e"]]},{"id":"93f0c19a.e94e","type":"mqtt out","z":"75202a1c.eb4b54","name":"androidTestNextRequestEmitter","topic":"androidNextTicketRequest","qos":"","retain":"","broker":"9720f212.139c6","x":268.99999237060547,"y":607.333330154419,"wires":[]},{"id":"b5163a84.1b06b8","type":"http request","z":"75202a1c.eb4b54","name":"nextRequest","method":"GET","ret":"txt","paytoqs":false,"url":"http://yursilv.alwaysdata.net/api/queues/{{{payload}}}/nextTicket","tls":"","proxy":"","authType":"basic","x":490.1666717529297,"y":677.3333225250244,"wires":[["d082f420.c85b88"]]},{"id":"d09aefed.27746","type":"debug","z":"75202a1c.eb4b54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":754.1666412353516,"y":611.1112222671509,"wires":[]},{"id":"105414ec.a192cb","type":"debug","z":"75202a1c.eb4b54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":109,"y":771.5555477142334,"wires":[]},{"id":"d082f420.c85b88","type":"json","z":"75202a1c.eb4b54","name":"","property":"payload","action":"","pretty":false,"x":739.1666603088379,"y":677.1111793518066,"wires":[["d09aefed.27746","58e0a731.136e98"]]},{"id":"58e0a731.136e98","type":"join","z":"75202a1c.eb4b54","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":744.1666603088379,"y":750.3333702087402,"wires":[["88bd7084.6f139"]]},{"id":"e83506c0.c5eed8","type":"mqtt out","z":"75202a1c.eb4b54","name":"","topic":"androidUpdateEtudiantStatus","qos":"","retain":"","broker":"9ac41304.29925","x":1952.9188995361328,"y":1113.0997877120972,"wires":[]},{"id":"231f0728.72ddf8","type":"http request","z":"75202a1c.eb4b54","name":"currentRequest","method":"GET","ret":"obj","paytoqs":false,"url":"http://yursilv.alwaysdata.net/api/queues/{{{payload}}}/currentTicket","tls":"","proxy":"","authType":"basic","x":1258.918716430664,"y":753.424898147583,"wires":[["6597f55e.158a4c","dea465f5.b178f8"]]},{"id":"6597f55e.158a4c","type":"debug","z":"75202a1c.eb4b54","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":1234.0188446044922,"y":682.2249994277954,"wires":[]},{"id":"acd109d5.06e0d8","type":"debug","z":"75202a1c.eb4b54","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":981.1666488647461,"y":681.8889389038086,"wires":[]},{"id":"88bd7084.6f139","type":"function","z":"75202a1c.eb4b54","name":"","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":980.1666717529297,"y":749.9999980926514,"wires":[["acd109d5.06e0d8","231f0728.72ddf8"]]},{"id":"dea465f5.b178f8","type":"join","z":"75202a1c.eb4b54","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":972.018798828125,"y":923.8250913619995,"wires":[["9f924793.776168"]]},{"id":"9f924793.776168","type":"function","z":"75202a1c.eb4b54","name":"","func":"let queueId = msg.payload[0];\nlet obj = msg.payload[1];\nlet result = [];\nresult.length = 2;\nresult[0] = queueId;\nresult[1] = obj[\"userLogin\"];\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":1189.018798828125,"y":923.8250122070312,"wires":[["ad104bd8.9f81b8","5324a4c3.fa3f1c"]]},{"id":"ad104bd8.9f81b8","type":"debug","z":"75202a1c.eb4b54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1178.918701171875,"y":1016.1373901367188,"wires":[]},{"id":"5324a4c3.fa3f1c","type":"json","z":"75202a1c.eb4b54","name":"","property":"payload","action":"","pretty":false,"x":1579.9250106811523,"y":1128.7499732971191,"wires":[["e83506c0.c5eed8","78e1790e.32f0b8","a202cb6.4279c38"]]},{"id":"78e1790e.32f0b8","type":"debug","z":"75202a1c.eb4b54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1584.018798828125,"y":1218.8249683380127,"wires":[]},{"id":"9865b367.a890f","type":"mqtt in","z":"75202a1c.eb4b54","name":"","topic":"androidInscriptionRequest","qos":"2","datatype":"auto","broker":"9ac41304.29925","x":141.91876220703125,"y":1125.6811904907227,"wires":[["76c088a5.9f0a68"]]},{"id":"22e65d85.a2e8b2","type":"http request","z":"75202a1c.eb4b54","name":"POST","method":"POST","ret":"obj","paytoqs":false,"url":"http://yursilv.alwaysdata.net/api/queues/{{{payload.queue}}}/addTicket","tls":"","proxy":"","authType":"basic","x":606.9249877929688,"y":1125.8311595916748,"wires":[["f2d09818.3f9678"]]},{"id":"849a4e7c.af615","type":"inject","z":"75202a1c.eb4b54","name":"Test","topic":"","payload":"{    \"queue\" : 1 ,   \"userLogin\" : \"romain\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":103.92500305175781,"y":1054.9873819351196,"wires":[["e203aa89.1dd128"]]},{"id":"e203aa89.1dd128","type":"mqtt out","z":"75202a1c.eb4b54","name":"androidTestInscriptionREquest","topic":"androidInscriptionRequest","qos":"","retain":"","broker":"9ac41304.29925","x":283.9124946594238,"y":1053.2936515808105,"wires":[]},{"id":"c649d541.d9bba8","type":"http request","z":"75202a1c.eb4b54","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://yursilv.alwaysdata.net/api/queuesNames","tls":"","proxy":"","authType":"basic","x":594.0186996459961,"y":1620.625087738037,"wires":[["ebfa715e.0963","214d9941.711ee6"]]},{"id":"76c088a5.9f0a68","type":"json","z":"75202a1c.eb4b54","name":"","property":"payload","action":"","pretty":false,"x":402.9187545776367,"y":1125.349958896637,"wires":[["22e65d85.a2e8b2","f2d09818.3f9678","bd9a88e1.6e8a48","6ee5cfef.da45"]]},{"id":"88095c71.78aa3","type":"http request","z":"75202a1c.eb4b54","name":"currentRequest","method":"GET","ret":"obj","paytoqs":false,"url":"http://yursilv.alwaysdata.net/api/queues/{{{payload}}}/currentTicket","tls":"","proxy":"","authType":"basic","x":1073.418342590332,"y":1242.6248526573181,"wires":[["6ee5cfef.da45"]]},{"id":"f2d09818.3f9678","type":"join","z":"75202a1c.eb4b54","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":648.9186706542969,"y":1243.2871570587158,"wires":[["6b918e23.255ca"]]},{"id":"6b918e23.255ca","type":"function","z":"75202a1c.eb4b54","name":"","func":"msg.payload = msg.payload[0].queue\nreturn msg;","outputs":1,"noerr":0,"x":844.9185752868652,"y":1242.7622542381287,"wires":[["88095c71.78aa3"]]},{"id":"6ee5cfef.da45","type":"join","z":"75202a1c.eb4b54","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":569.9124298095703,"y":1365.0871028900146,"wires":[["ffa443f5.a05cf","ab843875.e075a8"]]},{"id":"ffa443f5.a05cf","type":"function","z":"75202a1c.eb4b54","name":"","func":"let queueId = msg.payload[0].queue;\nlet loggin = msg.payload[1].userLogin;\nlet result = [];\nresult.length = 2;\nresult[0] = queueId;\nresult[1] = loggin;\nmsg.payload = result;\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":1222.524772644043,"y":1363.3624029159546,"wires":[["6688c465.eaa2ec","5324a4c3.fa3f1c"]]},{"id":"ab843875.e075a8","type":"debug","z":"75202a1c.eb4b54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":569.0186138153076,"y":1435.8248405456543,"wires":[]},{"id":"6688c465.eaa2ec","type":"debug","z":"75202a1c.eb4b54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1215.0187683105469,"y":1447.8248977661133,"wires":[]},{"id":"bd9a88e1.6e8a48","type":"debug","z":"75202a1c.eb4b54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":626.0187091827393,"y":1055.8247680664062,"wires":[]},{"id":"21c7b0b2.ed07d","type":"mqtt in","z":"75202a1c.eb4b54","name":"","topic":"androidRequestQueueList","qos":"2","datatype":"auto","broker":"9ac41304.29925","x":175.91250610351562,"y":1619.6874160766602,"wires":[["c649d541.d9bba8"]]},{"id":"ebfa715e.0963","type":"mqtt out","z":"75202a1c.eb4b54","name":"","topic":"androidRequestQueueResponse","qos":"","retain":"","broker":"9ac41304.29925","x":1193.924949645996,"y":1624.699990272522,"wires":[]},{"id":"7d86516f.fa64f","type":"inject","z":"75202a1c.eb4b54","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116.92500305175781,"y":1572.7749404907227,"wires":[["fc82bed6.0128c"]]},{"id":"fc82bed6.0128c","type":"mqtt out","z":"75202a1c.eb4b54","name":"","topic":"androidRequestQueueList","qos":"","retain":"","broker":"73876ba9.78fae4","x":288.92498779296875,"y":1570.6937427520752,"wires":[]},{"id":"214d9941.711ee6","type":"debug","z":"75202a1c.eb4b54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120.9125137329102,"y":1731.7498359680176,"wires":[]},{"id":"672bc776.61f048","type":"mqtt in","z":"4d4c2c8d.995914","name":"","topic":"androidNextTicketRequestRasp","qos":"2","datatype":"auto","broker":"773638f6.2908d8","x":135,"y":110.02496719360352,"wires":[["8fe81ef6.0c0d6","a4c761b3.a4603"]]},{"id":"6f13ba53.7c7ad4","type":"http request","z":"4d4c2c8d.995914","name":"nextRequest","method":"GET","ret":"txt","paytoqs":false,"url":"http://yursilv.alwaysdata.net/api/queues/{{{payload}}}/nextTicket","tls":"","proxy":"","authType":"basic","x":983.9999694824219,"y":105.58066177368164,"wires":[["486fb541.58f8ac"]]},{"id":"872ccf1e.a23fa","type":"join","z":"4d4c2c8d.995914","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":762.9999847412109,"y":384.5807304382324,"wires":[["c809920e.cd163"]]},{"id":"486fb541.58f8ac","type":"json","z":"4d4c2c8d.995914","name":"","property":"payload","action":"","pretty":false,"x":1139.9999408721924,"y":189.35845184326172,"wires":[["872ccf1e.a23fa"]]},{"id":"c809920e.cd163","type":"function","z":"4d4c2c8d.995914","name":"","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":989.9999961853027,"y":386.2473678588867,"wires":[["f6b7d1f.0ac923"]]},{"id":"f6b7d1f.0ac923","type":"http request","z":"4d4c2c8d.995914","name":"currentRequest","method":"GET","ret":"obj","paytoqs":false,"url":"http://yursilv.alwaysdata.net/api/queues/{{{payload}}}/currentTicket","tls":"","proxy":"","authType":"basic","x":1239.7520942687988,"y":388.6722946166992,"wires":[["dcb59e37.d16f8","751a2906.4064e8"]]},{"id":"dcb59e37.d16f8","type":"join","z":"4d4c2c8d.995914","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":983.8521690368652,"y":592.0724868774414,"wires":[["119a8d85.767452"]]},{"id":"119a8d85.767452","type":"function","z":"4d4c2c8d.995914","name":"","func":"let queueId = msg.payload[0];\nlet obj = msg.payload[1];\nlet result = [];\nresult.length = 2;\nresult[0] = queueId;\nresult[1] = obj[\"userLogin\"];\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":1197.8521919250488,"y":591.0724124908447,"wires":[["6a2d394e.9a6b98"]]},{"id":"6a2d394e.9a6b98","type":"json","z":"4d4c2c8d.995914","name":"","property":"payload","action":"","pretty":false,"x":1395.7583084106445,"y":590.9974136352539,"wires":[["9f08a7c9.df54d8","9a36c7fd.d8c4e8"]]},{"id":"9f08a7c9.df54d8","type":"mqtt out","z":"4d4c2c8d.995914","name":"","topic":"androidUpdateEtudiantStatus","qos":"","retain":"","broker":"73876ba9.78fae4","x":1630.752342224121,"y":591.3472919464111,"wires":[]},{"id":"8fe81ef6.0c0d6","type":"function","z":"4d4c2c8d.995914","name":"Value 1 Only","func":"if (msg.payload === \"1\") {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":455.0000686645508,"y":109.0250358581543,"wires":[["a24fbd65.bbc85"]]},{"id":"a24fbd65.bbc85","type":"change","z":"4d4c2c8d.995914","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":727.0000534057617,"y":107.82482528686523,"wires":[["6f13ba53.7c7ad4"]]},{"id":"85ab5a5.9fd90a8","type":"mqtt in","z":"4d4c2c8d.995914","name":"","topic":"androidCurrentTicketRasp","qos":"2","datatype":"auto","broker":"773638f6.2908d8","x":115,"y":749.0250911712646,"wires":[["cf403fc8.daa55","130031a9.22b0be"]]},{"id":"cf403fc8.daa55","type":"http request","z":"4d4c2c8d.995914","name":"currentRequest","method":"GET","ret":"obj","paytoqs":false,"url":"http://yursilv.alwaysdata.net/api/queues/{{{payload}}}/currentTicket","tls":"","proxy":"","authType":"basic","x":478.0000419616699,"y":746.9500913619995,"wires":[["3231dddd.b14952","1a57fe83.a150a1","693bda90.ab1104"]]},{"id":"130031a9.22b0be","type":"debug","z":"4d4c2c8d.995914","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":212.9937744140625,"y":858.0500354766846,"wires":[]},{"id":"3231dddd.b14952","type":"debug","z":"4d4c2c8d.995914","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":533.9999313354492,"y":901.0563812255859,"wires":[]},{"id":"693bda90.ab1104","type":"function","z":"4d4c2c8d.995914","name":"if current does not exist","func":"if (msg.payload.status !== undefined)\nreturn msg;","outputs":1,"noerr":0,"x":750.9998168945312,"y":746.0248374938965,"wires":[["c180458f.c00198"]]},{"id":"1a57fe83.a150a1","type":"function","z":"4d4c2c8d.995914","name":"if current does exist","func":"if (msg.payload.ticketId !== undefined)\nreturn msg;","outputs":1,"noerr":0,"x":771.9998474121094,"y":903.0248413085938,"wires":[["1c1778df.dab377"]]},{"id":"1c1778df.dab377","type":"change","z":"4d4c2c8d.995914","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ticketId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1061.9999237060547,"y":900.8310670852661,"wires":[["c3c5143c.e0ca08"]]},{"id":"c180458f.c00198","type":"change","z":"4d4c2c8d.995914","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":998.99365234375,"y":745.8186368942261,"wires":[["c3c5143c.e0ca08"]]},{"id":"c3c5143c.e0ca08","type":"json","z":"4d4c2c8d.995914","name":"","property":"payload","action":"","pretty":false,"x":1249.006233215332,"y":741.6372184753418,"wires":[["8ffa9d1b.efa0d"]]},{"id":"8ffa9d1b.efa0d","type":"mqtt out","z":"4d4c2c8d.995914","name":"","topic":"TestSending","qos":"","retain":"","broker":"773638f6.2908d8","x":1530.0062713623047,"y":738.9685688018799,"wires":[]},{"id":"783a7068.93847","type":"mqtt out","z":"4d4c2c8d.995914","name":"","topic":"androidCurrentTicketRasp","qos":"","retain":"","broker":"773638f6.2908d8","x":1613.000099182129,"y":266.0250062942505,"wires":[]},{"id":"751a2906.4064e8","type":"change","z":"4d4c2c8d.995914","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1542.9002075195312,"y":388.9312114715576,"wires":[["783a7068.93847"]]},{"id":"e33fd02d.c89aa","type":"mqtt out","z":"4d4c2c8d.995914","name":"","topic":"androidAdminCurrentTicketRequest","qos":"","retain":"","broker":"9720f212.139c6","x":553.9249496459961,"y":510.8873510360718,"wires":[]},{"id":"a4c761b3.a4603","type":"change","z":"4d4c2c8d.995914","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":315.91876220703125,"y":277.9248809814453,"wires":[["e33fd02d.c89aa","c1976b4d.0f5788","872ccf1e.a23fa","dcb59e37.d16f8"]]},{"id":"c1976b4d.0f5788","type":"debug","z":"4d4c2c8d.995914","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":241.9124984741211,"y":429.1185989379883,"wires":[]},{"id":"55fda867.6bec08","type":"mqtt in","z":"75202a1c.eb4b54","name":"","topic":"QueuesRequest","qos":"0","datatype":"auto","broker":"9720f212.139c6","x":142.0187530517578,"y":1860.02490234375,"wires":[["561c07fc.b90858"]]},{"id":"561c07fc.b90858","type":"http request","z":"75202a1c.eb4b54","name":"GetQueues","method":"GET","ret":"obj","paytoqs":false,"url":"http://yursilv.alwaysdata.net/api/queues","tls":"","proxy":"","authType":"basic","x":347.01878356933594,"y":1860.0249032974243,"wires":[["c634978b.e43f48","6b4035f7.669b0c"]]},{"id":"c634978b.e43f48","type":"debug","z":"75202a1c.eb4b54","name":"AllQueues","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":433.01876068115234,"y":1959.024917602539,"wires":[]},{"id":"6b4035f7.669b0c","type":"function","z":"75202a1c.eb4b54","name":"GetNamesQueues","func":"namearray = []\nfor (var i = 0; i < msg.payload.length;i++){\n    let p = msg.payload[i].name;\n    namearray.push(p);\n}\n//let p = msg.payload[0].name\nmsg.payload = namearray\nreturn msg;","outputs":1,"noerr":0,"x":614.0187530517578,"y":1860.0249004364014,"wires":[["e98d148.c9b25e8","987fac8b.cbb75"]]},{"id":"e98d148.c9b25e8","type":"debug","z":"75202a1c.eb4b54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":782.018684387207,"y":1809.0249004364014,"wires":[]},{"id":"987fac8b.cbb75","type":"mqtt out","z":"75202a1c.eb4b54","name":"","topic":"QueuesResponse","qos":"","retain":"","broker":"9720f212.139c6","x":1025.0187530517578,"y":1861.0249004364014,"wires":[]},{"id":"f45bb6d.ecc2548","type":"mqtt in","z":"75202a1c.eb4b54","name":"","topic":"androidAdminCurrentTicketRequest","qos":"2","datatype":"auto","broker":"9720f212.139c6","x":185.0187530517578,"y":2238.0248832702637,"wires":[["4c045b41.64b7c4","d79f63a6.ab08d"]]},{"id":"f7b8aac1.0e34c8","type":"inject","z":"75202a1c.eb4b54","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":129.01874542236328,"y":2075.0248641967773,"wires":[["2fcef1af.37698e"]]},{"id":"2fcef1af.37698e","type":"mqtt out","z":"75202a1c.eb4b54","name":"TestCurrentTicketRequest","topic":"androidAdminCurrentTicketRequest","qos":"","retain":"","broker":"9720f212.139c6","x":372.0187530517578,"y":2075.0248641967773,"wires":[]},{"id":"e05f9470.72e6b8","type":"http request","z":"75202a1c.eb4b54","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://yursilv.alwaysdata.net/api/queues/{{{payload}}}/currentTicket","tls":"","proxy":"","authType":"basic","x":597.0186386108398,"y":2241.0248947143555,"wires":[["fc1b0467.17f188"]]},{"id":"fc1b0467.17f188","type":"function","z":"75202a1c.eb4b54","name":"sets first & last name","func":"let ticket = msg.payload\nlet result = []\nresult.length = 2\nresult[0] = ticket[\"userFirstName\"];\nresult[1] = ticket[\"userLastName\"];\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":823.0186386108398,"y":2242.0248832702637,"wires":[["add4d963.72b9f8"]]},{"id":"add4d963.72b9f8","type":"json","z":"75202a1c.eb4b54","name":"","property":"payload","action":"","pretty":false,"x":1018.0187606811523,"y":2241.0248832702637,"wires":[["a4861dea.ef4a2","48da6e83.c882a"]]},{"id":"a4861dea.ef4a2","type":"debug","z":"75202a1c.eb4b54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1058.0187911987305,"y":2327.0249099731445,"wires":[]},{"id":"48da6e83.c882a","type":"mqtt out","z":"75202a1c.eb4b54","name":"","topic":"androidAdminCurrentTicketResponse","qos":"","retain":"","broker":"9720f212.139c6","x":1389.0188293457031,"y":2235.0248832702637,"wires":[]},{"id":"4c045b41.64b7c4","type":"mqtt out","z":"75202a1c.eb4b54","name":"","topic":"androidCurrentTicketRasp","qos":"","retain":"","broker":"773638f6.2908d8","x":453.91866302490234,"y":2387.11861038208,"wires":[]},{"id":"d79f63a6.ab08d","type":"function","z":"75202a1c.eb4b54","name":"Set global Id","func":"global.set('id', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":436.92496490478516,"y":2240.1498346328735,"wires":[["e05f9470.72e6b8"]]},{"id":"4626d99f.c13a78","type":"debug","z":"75202a1c.eb4b54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":863.0000038146973,"y":312,"wires":[]},{"id":"8166d113.044db","type":"join","z":"75202a1c.eb4b54","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":864.1666688919067,"y":244.5555830001831,"wires":[["4626d99f.c13a78","30b155f0.b1cc4a"]]},{"id":"643c7620.382ea8","type":"mqtt out","z":"75202a1c.eb4b54","name":"","topic":"androidCurrentTicketResponse","qos":"","retain":"","broker":"9ac41304.29925","x":2123.8185272216797,"y":1282.0251274108887,"wires":[]},{"id":"a202cb6.4279c38","type":"function","z":"75202a1c.eb4b54","name":"MakeResult","func":"msg.payload = msg.payload.substring(1, msg.payload.length-1);\nreturn msg;","outputs":1,"noerr":0,"x":1858.818702697754,"y":1249.0250835418701,"wires":[["643c7620.382ea8"]]},{"id":"9a36c7fd.d8c4e8","type":"function","z":"4d4c2c8d.995914","name":"MakeResult","func":"msg.payload = msg.payload.substring(1, msg.payload.length-1);\nreturn msg;","outputs":1,"noerr":0,"x":1499.0188522338867,"y":679.024959564209,"wires":[["654295f3.29efcc","5355e3f4.db7a1c"]]},{"id":"654295f3.29efcc","type":"mqtt out","z":"4d4c2c8d.995914","name":"","topic":"androidCurrentTicketResponse","qos":"","retain":"","broker":"9ac41304.29925","x":1755.018798828125,"y":675.0250244140625,"wires":[]},{"id":"5355e3f4.db7a1c","type":"debug","z":"4d4c2c8d.995914","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1658.912540435791,"y":845.1186542510986,"wires":[]}]