Raspberry Node-RED.json
[{"id":"3d1ad93f.249406","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a47dc5ef.696c38","type":"mosca in","z":"3d1ad93f.249406","mqtt_port":"1884","mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":539.1000213623047,"y":67,"wires":[[]]},{"id":"d9272f90.bb8eb","type":"rpi-gpio in","z":"3d1ad93f.249406","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":88.9000129699707,"y":225.0000057220459,"wires":[["ceb5cb45.df3b98","a4200663.d89f18"]]},{"id":"a4200663.d89f18","type":"mqtt out","z":"3d1ad93f.249406","name":"","topic":"androidNextTicketRequestRasp","qos":"","retain":"","broker":"5f98db3a.a649f4","x":780.0000610351562,"y":206.00000190734863,"wires":[]},{"id":"94f02d32.d8385","type":"mqtt in","z":"3d1ad93f.249406","name":"","topic":"TestSending","qos":"2","datatype":"auto","broker":"5f98db3a.a649f4","x":94.00002670288086,"y":452.00000381469727,"wires":[["6a8c0e42.ba589","da3c7e9d.0038d","25e2588d.c62318"]]},{"id":"47ffdf90.bde71","type":"grove-4-digit-display","z":"3d1ad93f.249406","name":"","pin":"5","x":661.000057220459,"y":447.60004806518555,"wires":[]},{"id":"ceb5cb45.df3b98","type":"debug","z":"3d1ad93f.249406","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":233,"y":303.6000738143921,"wires":[]},{"id":"6a8c0e42.ba589","type":"function","z":"3d1ad93f.249406","name":"Displayer","func":"if(msg.payload.length === 1) {\n    msg.payload = \"000\" + msg.payload;\n}\n\nif(msg.payload.length === 2) {\n    msg.payload = \"00\" + msg.payload;\n}\n\nif(msg.payload.length === 3) {\n    msg.payload = \"0\" + msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340.00000381469727,"y":451.00000381469727,"wires":[["47ffdf90.bde71","811db8db.919558"]]},{"id":"da3c7e9d.0038d","type":"switch","z":"3d1ad93f.249406","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":494.16669845581055,"y":519.7777824401855,"wires":[["2a43b0d1.aacde"],["425655a3.d1410c"]]},{"id":"425655a3.d1410c","type":"rpi-gpio out","z":"3d1ad93f.249406","name":"","pin":"36","set":true,"level":"0","freq":"","out":"out","x":897.0000076293945,"y":627.0000038146973,"wires":[]},{"id":"25e2588d.c62318","type":"debug","z":"3d1ad93f.249406","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":164.00003051757812,"y":575.6000480651855,"wires":[]},{"id":"811db8db.919558","type":"debug","z":"3d1ad93f.249406","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":492.89998626708984,"y":575.0000038146973,"wires":[]},{"id":"ac6b0420.f5d698","type":"inject","z":"3d1ad93f.249406","name":"","topic":"","payload":"564","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":252.1666717529297,"y":539.5555591583252,"wires":[["da3c7e9d.0038d"]]},{"id":"2a43b0d1.aacde","type":"change","z":"3d1ad93f.249406","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":763.0000076293945,"y":531.0000038146973,"wires":[["425655a3.d1410c"]]},{"id":"a231ec7c.3e8ee","type":"inject","z":"3d1ad93f.249406","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":259,"y":500.00000381469727,"wires":[["da3c7e9d.0038d"]]},{"id":"5f98db3a.a649f4","type":"mqtt-broker","z":"","name":"","broker":"172.20.10.7","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]